RAG Chatbot.json
{
  "name": "1. Herk (P1 RAG)",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1FTtY2yAGYba10-BkbXO6-0XL8eLZv0Ls",
          "mode": "list",
          "cachedResultName": "FAQ",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1FTtY2yAGYba10-BkbXO6-0XL8eLZv0Ls"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -976,
        -112
      ],
      "id": "cb3e00ca-af8b-4f9a-ba5a-287b8990bdb8",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2Gfq0GQR15gCnl0E",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -768,
        -112
      ],
      "id": "05cd7dfd-d451-4a85-8eab-16091e82b04d",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2Gfq0GQR15gCnl0E",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8nembeddings",
          "mode": "list",
          "cachedResultName": "n8nembeddings"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -592,
        -96
      ],
      "id": "4fd935dc-3e68-41a0-8184-d339884bcc0a",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "s9Pk0wEYJDc4VQka",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -464,
        112
      ],
      "id": "f04a5447-867c-4144-a1aa-215221ba1eff",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 10
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -384,
        320
      ],
      "id": "24b690b9-0686-4535-80ee-2d8d319fcacd",
      "name": "Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -16,
        -32
      ],
      "id": "b12bf0d8-a1c4-4cf6-a235-0143f8e09418",
      "name": "When chat message received",
      "webhookId": "ae817096-02d5-4dc5-a818-69fcfebb8124"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant that will give accurate responses to users query and generate to the point response like humans but covers all the points."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        192,
        -32
      ],
      "id": "dd6c7e18-830a-4887-a971-718b544c074c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        64,
        176
      ],
      "id": "c112497d-6f73-4e74-927f-8f3c868bfbb6",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "aFLLgwA1ogRZ1q0t",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "call this tool to access policy and FAQ database",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8nembeddings",
          "mode": "list",
          "cachedResultName": "n8nembeddings"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        544,
        -32
      ],
      "id": "ab8a519d-b92a-4ec3-8de7-3caef682da0b",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "s9Pk0wEYJDc4VQka",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -448,
        208
      ],
      "id": "37371d64-773c-47d8-a36f-d0ae8b44315a",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "aFLLgwA1ogRZ1q0t",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        640,
        176
      ],
      "id": "ce751940-c94c-498b-b956-012c5d05f826",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "gqnx2rtU7pQ1Wos0",
          "name": "OpenAi account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "05e7c025-fda1-4f56-8f51-53ce2941f896",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f353286564d6517f323f1a2292b19cfd6ea542bbcb5c91b3cffc627c53cd3fad"
  },
  "id": "vwTivkzQZRjBecyJ",
  "tags": []
}